*{
    padding: 0;
}
/*Opdracht 1A*/
.navbar-one ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;

}
/*Opdracht 1B*/
.navbar-two ul {
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: flex-end;
}
/*Opdracht 1C*/
.navbar-three,.navbar-four, .navbar-five  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-three ul{
    display: flex;
    list-style: none;
    justify-content: right;
    align-items:center;
}

.navbar-three div, .navbar-five div{
    display: flex;
    list-style: none;
    justify-content: left;
    align-items:center;
    gap: 15px; /* This creates the space between <img> and <p> */
}
/*Opdracht 1D, 1E*/

.navbar-four div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-four ul, .navbar-five ul  {
    display: flex;
    gap: 15px;
    list-style: none;
}

.navbar-four ul.nav-links {
    flex-grow: 1;
    justify-content: left;
}
